
<script>
	import HotelList from '../components/hotelList.svelte';
	import Search from '../components/Search.svelte';

</script>
<style>

	h3 {
		font-size: 1.8em;
		text-transform: uppercase;
		font-weight: 400;
		margin: 0 0 0.5em 0;
	}

</style>

<svelte:head>
	<title>Sapper Svelte with Excell</title>
</svelte:head>

<h3>Sapper Svelte with Excell as CMS</h3>
<Search />
<HotelList />
