<script>
import {getHotels} from "../store/index.js";

function sortListDir() {
  let list, i, switching, b, shouldSwitch, dir, switchcount = 0;
  list = document.getElementById("hodo");
  console.log(list);
  switching = true;
  // Set the sorting direction to ascending:
  dir = "asc";
  // Make a loop that will continue until no switching has been done:
  while (switching) {
    // start by saying: no switching is done:
    switching = false;
    b = list.getElementsByClassName("tHead");
    // Loop through all list-items:
    for (i = 0; i < (b.length - 1); i++) {
      //start by saying there should be no switching:
      shouldSwitch = false;
      /* check if the next item should switch place with the current item,
      based on the sorting direction (asc or desc): */
      if (dir == "asc") {
        if (b[i].innerHTML.toLowerCase() > b[i + 1].innerHTML.toLowerCase()) {
          /* if next item is alphabetically lower than current item,
          mark as a switch and break the loop: */
          shouldSwitch = true;
          break;
        }
      } else if (dir == "desc") {
        if (b[i].innerHTML.toLowerCase() < b[i + 1].innerHTML.toLowerCase()) {
          /* if next item is alphabetically higher than current item,
          mark as a switch and break the loop: */
          shouldSwitch= true;
          break;
        }
      }
    }
    if (shouldSwitch) {
      /* If a switch has been marked, make the switch
      and mark that a switch has been done: */
      b[i].parentNode.insertBefore(b[i + 1], b[i]);
      switching = true;
      // Each time a switch is done, increase switchcount by 1:
      switchcount ++;
    } else {
      /* If no switching has been done AND the direction is "asc",
      set the direction to "desc" and run the while loop again. */
      if (switchcount == 0 && dir == "asc") {
        dir = "desc";
        switching = true;
      }
    }
  }
}

</script>


<style>

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;
}

th, td {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}

.ital{
  font-size: 12;
}

.tHead {
  font-weight: bold;
}

</style>


<table id="table">
<tr id="hodo">
<th class="tHead"  on:click={sortListDir} > <a href="#" > Brand </a> </th>
<th >Country</th>
<th >Hotel Name</th>
</tr>
{#each $getHotels as hotel}


    <tr class="ital">
      <th >{hotel.Brand}</th>
      <th>{hotel.Country}</th>
      <th><a href="{hotel.URL}" alt="{hotel.SKU}" title="{hotel.SKU}">{hotel.Link}</a></th>

    </tr>


    {:else}
		<!-- this block renders when photos.length === 0 -->
		<p>loading...</p>

	{/each}

  </table>
