<script>


import { onMount } from 'svelte';

	onMount(() => {

	});

  function myFunction() {
    var input, filter, table, tr, td, i, txtValue;
    input = document.getElementById("myInput");
    filter = input.value.toUpperCase();
    table = document.getElementsByClassName("table");
    tr = document.getElementsByClassName("ital");
    for (i = 0; i < tr.length; i++) {
      let td = tr[i].getElementsByTagName("th")[2];
      let country = tr[i].getElementsByTagName("th")[1];
      let brand = tr[i].getElementsByTagName("th")[0];

      if (td) {
        txtValue = td.textContent || td.innerText;
        if (txtValue.toUpperCase().indexOf(filter) > -1) {
          tr[i].style.display = "";
        } else {
          tr[i].style.display = "none";
        }

      }
    }
  }


</script>

<style>
* {
  box-sizing: border-box;
}

#myInput {
  background-image: url('https://img.icons8.com/android/50/000000/search.png');
  background-position: 5px 5px;
  background-repeat: no-repeat;
  width: 100%;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
}
</style>

<section>
<input type="text" id="myInput" on:keyup|preventDefault={myFunction} placeholder="Search for hotel " title="Type in a name">
</section>
